<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= titleTwo %></p>
    <ul>
       <li> <%= africa %> </li>
       <li> <%= antartica %> </li>
       <li> <%= asia %> </li> 
       <li> <%= europe %> </li> 
       <li> <%= northAmerica %> </li>
       <li> <%= southAmerica %> </li>
       <li> <%= oceania %> </li>   
       <li> <%= chrestofa %> </li>
    </ul>
  </body>
</html>